<nav>
    <div class="logo">
        <a href="{% url 'homepage' %}">
            <img src="https://f1000research.s3.amazonaws.com/thumbnails/ab9f89f4-69be-4a6f-bda8-bcdd2e962a09_collection.thumbnail" alt="Logo" style="background-image: none;">
        </a>
    </div>

    {% if request.path == '/' %}
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search...">
        <span class="search-icon">🔍</span>
        <div class="search-results"></div>
    </div>
    {% endif %}

    <ul class="nav-links">
        {% if user.is_authenticated %}
        <li><a href="#">Log Out</a></li> 
        {% comment %} {% url 'logout' %} {% endcomment %}
        {% else %}
        <li><a href="#">Log In</a></li> 
        {% comment %} {% url 'login' %} {% endcomment %}
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url "upload" %}">Upload</a></li>
        <li><a href="{% url "adminpage" %}">Admin</a></li>
        {% endif %}
        <li><a href="{% url "chatbot" %}">Chatbot</a></li>
    </ul>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const searchBar = document.querySelector('.search-bar');
        const searchIcon = document.querySelector('.search-icon');
    
        searchIcon.addEventListener('click', () => {
            searchBar.focus();
        });
    
        searchBar.addEventListener('focus', () => {
            searchBar.classList.add('expand');
        });
    
        searchBar.addEventListener('blur', () => {
            searchBar.classList.remove('expand');
        });
    });
</script>