<nav>
    <div class="logo">
        <a href="{% url 'homepage' %}">
            <img src="https://f1000research.s3.amazonaws.com/thumbnails/ab9f89f4-69be-4a6f-bda8-bcdd2e962a09_collection.thumbnail" alt="Logo" style="background-image: none;">
        </a>
    </div>
    
    <ul class="nav-links">
        {% if user.is_authenticated %}
        <span style="font-weight: bold; text-transform: uppercase; margin-right: 20px;">{{ user.get_username }}</span>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url "logout" %}">Log Out</a></li> 
        {% comment %} {% url 'logout' %} {% endcomment %}
        {% else %}
        <li><a href="{% url "login" %}">Log In</a></li> 
        <li><a href="{% url "signup" %}">Sign Up</a></li>
        {% comment %} {% url 'login' %} {% endcomment %}
        {% endif %}
        <li><a href="{% url "home" %}">Admin</a></li>
        <li><a href="{% url "chatbot" %}">Chatbot</a></li>
    </ul>
</nav>